ci:
  # -- Install/Upgrade true or false
  enabled: true
  #For AWS place Route53 Hosted Zone name
  hostname: "example.com"
  #http or https
  protocol: "https"
  #Subdomains for CloudBees CI (true or false)
  subdomain: true
  #Respository for CloudBees CI Controllers Caac Bundles
  controllerBundleStorageSCM: "https://github.com/carlosrodlop/cb-casc-controllers"
  #Secret: GH Token
  secretGHToken: "ghp_JPhgYJkRjLExampleToken"
  #Secret: GH User
  secretGHUser: "user"
  #Secret: GH User
  secretAdvisorMail: "user@mail.com"
  #Registry URL
  agentRegistryURL: "https://index.docker.io/v1/"
  #Registry User Name
  agentRegistryUserName: "user"
  #Registry User Pass
  agentRegistryUserPass: "ExampleToken"
  #Registry User Mail
  agentRegistryUserMail: "user@mail.com"
  #Number of Load Controller. It runs on HA Mode
  NLoadControllers: 1
  #CloudBees Temp License details
  LicFirstName: "User"
  LicLastName: "Foo"
  LicEmail: "user@company.com"
  LicCompany: "My Company"
# -- CloudBess CD
cd:
  # -- Install/Upgrade true or false
  enabled: true
