.env
!.env.example
*secret*
*secret*.*
!oc-secrets.yaml
!agents-secrets-registry.yaml
!*secrets.yaml.example
!*secrets.yaml.example.enc
kubeconfig-*.yaml
!kubeconfig-*.yaml.enc
root/cloudbees/values.yaml
nohup.out
values.*.yaml
