*env*
!*env*example*
*secret*
*secret*.*
!oc-secrets.yaml
!cm-secrets.yaml
!agents-secrets-registry.yaml
!*secrets.yaml.example
!*secrets.yaml.example.enc
kubeconfig-*.yaml
!kubeconfig-*.yaml.enc
root/cloudbees/values.yaml
nohup.out
values.*.yaml
backend.tf
.terraform.lock.hcl
helm/charts/cb-ci-local/casc/tmp-plugin-calculations/*
!helm/charts/cb-ci-local/casc/tmp-plugin-calculations/.tmp-plugin-calculations
# log files
*.log
*.logs

.DS_Store
