HOSTNAME="ci.example.com"
PROTOCOL="https" #http or https
CBCI_URL="${PROTOCOL}://${HOSTNAME}/cjoc/" #Do not change if Subdomain is false
CBCI_NS="cbci"
AGENT_NA="cbci-agents"
#https://artifacthub.io/packages/helm/cloudbees/cloudbees-core
CBCI_VERSION="3.53.2+21664c8b3793"
C_CASC_REPO="https://example.org.scm/cb-casc-controllers.git" #Tested with it
OC_BUNDLE="general"
SECRET_GH_TOKEN="ghp_ExampleToken"
SECRET_GH_USER="gh_ExampleUser"
SECRET_JENKINS_PASS="justAnotherSecret"
N_LOAD_CONTROLLERS=5
