# https://pre-commit.com/#new-hooks
# https://engineeringfordatascience.com/posts/pre_commit_yaml/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-aws-credentials
      - id: detect-private-key
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.15.1
    hooks:
      - id: gitleaks
