
#https://docs.robusta.dev/master/catalog/actions/event-enrichment.html
customPlaybooks:
- triggers:
  - on_prometheus_alert:
      alert_name: HostOutOfMemory
  - on_prometheus_alert:
      alert_name: HostMemoryUnderMemoryPressure
  - on_prometheus_alert:
      alert_name: HostHighCpuLoad
  actions:
  - node_status_enricher: {}
  - node_running_pods_enricher: {}
  - node_allocatable_resources_enricher: {}
  - node_bash_enricher:
      bash_command: ps aux
#https://docs.robusta.dev/master/tutorials/java-troubleshooting.html
#https://docs.robusta.dev/master/catalog/actions/java-troubleshooting.html#java-troubleshooting-actions
- triggers:
  - on_container_oom_killed: {}
  - on_pod_oom_killed: {}
  actions:
  - java_process_inspector: {}
  - pod_jmap_pid: {}
  - pod_jstack_pid: {}
  - pod_events_enricher: {}
  - pod_bash_enricher:
      bash_command: ps aux
#https://docs.robusta.dev/master/catalog/triggers/kubernetes.html#kubernetes-api-server
- triggers:
    - on_statefulset_create:
        namespace_prefix: cbci
  actions:
    - create_finding:
      aggregation_key: New cbci Controller added
      severity: DEBUG
      title: Statefulset $name on namespace $namespace added
- triggers:
    - on_statefulset_delete:
        namespace_prefix: cbci
  actions:
    - create_finding:
      aggregation_key: Existing cbci Controller deleted
      severity: DEBUG
      title: Statefulset $name on namespace $namespace added
