#https://github.com/carlosrodlop/K8s-lib/tree/main/helm/charts/cloudbees-ci-local
operationCenter:
  protocol: ${protocol}
  hostname: ${hostname}
  ingress:
    class: ${ingressClass}
  casc:
    controllerBundleStorageSCM: ${c_casc_repo}
  credentials:
    github:
      token: ${secretGHToken}
      user: ${secretGHUser}
    jenkins:
      pass: ${secretJenkins}
controllers:
  loadTest:
    controllers: ${NLoadControllers}
agents:
  namespace: ${agentNamespace}
  imageCredentials:
    registry: ${agentRegistryURL}
    username: ${agentRegistryUserName}
    password: ${agentRegistryUserPass}
    email: ${agentRegistryUserMail}
